{% extends 'base.html.twig' %}
{% block title %}Détail de la réservation{% endblock %}
{% block header %} {{ include('parts/_header.html.twig') }} {% endblock %}
{% block body %}


    <div class="container m-5">
        <h1>Détails de la réservation</h1>
        <h2>{{ booking.productId.label }}</h2>

        <div class="header_info flex flex-row justify-content-between">
            <div class="w-25">
                <div><span class="bold">Nom : </span>{{ booking.clientId.lastname }}</div>
                <div><span class="bold">Prénom : </span>{{ booking.clientId.firstname }}</div>
                <div>
                    <span class="bold">Adresse : </span>
                    <div>{{ booking.clientId.addressId.num }} {{ booking.clientId.addressId.roadType }} {{ booking.clientId.addressId.roadName }}</div>
                    <div>{{ booking.clientId.addressId.zip }} {{ booking.clientId.addressId.city }}</div>
                    <div>{{ booking.clientId.addressId.country }}</div>
                </div>
                <div><span class="bold">Téléphone : </span>{{ booking.clientId.telephone }}</div>
                <div><span class="bold">Email : </span>{{ booking.clientId.email }}</div>
            </div>

            <div class="w-25">
                <div><span class="bold">Votre réservation : </span>{{ booking.productId.rentalType.label }}</div>
                <div><span class="bold">Arrivée : </span>{{ booking.checkIn | date('d/m/Y') }}</div>
                <div><span class="bold">Départ : </span>{{ booking.checkOut | date('d/m/Y')}}</div>
            </div>
            <div class="w-100">

                {{ form_start(bookingForm) }}
                <div class="row">

                    <div class="form-group justify-content-center mb-4">
                        <h3>Nombre de voyageurs</h3>

                        <div class="col-sm-6">{{ form_row(bookingForm.nb_adults) }}</div>
                        <div class="col-sm-6">{{ form_row(bookingForm.nb_kids) }}</div>
                    </div>
                    <div class="form-group justify-content-center mb-4">
                        <h3>Nombre d'accès à la piscine :</h3>
                        <div class="col-sm-6">{{ form_row(bookingForm.pool_access_adults) }}</div>
                        <div class="col-sm-6">{{ form_row(bookingForm.pool_access_kids) }}</div>
                    </div>
                </div>
                <div class="hidden">
                    {{ form_row(bookingForm.product_id, {
                        'label':'hébergement',
                        'attr' : {
                            'class' : 'hidden'
                        }
                    }) }}

                    {{ form_row(bookingForm.check_in, {
                        'label':'arrivée',
                        'attr' : {
                            'class' : 'hidden'
                        }
                    }) }}

                    {{ form_row(bookingForm.check_out, {
                        'label':'départ',
                        'attr' : {
                            'class' : 'hidden'
                        }
                    }) }}
                </div>

                {{ form_end(bookingForm) }}

            </div>
        </div>


    </div>
{% endblock %}

