<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-around">
	<a class="navbar-brand text-center m-2" href="/">Camping de l'Espadrille Volant<br>⭐⭐⭐</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div
		class="collapse navbar-collapse" id="navbarSupportedContent">
		{# <ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Accueil</a>
					</li>
					<a class="nav-link dropdown-toggle" href="#">Accueil</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#" class="dropdown-item">test</a>
						</li>
						<li>
							<a href="#" class="dropdown-item">test</a>
						</li>
					</ul> #}
		{% if is_granted("ROLE_ADMIN") %}
			<nav
				class="navbar bg-dark text-light w-100 justify-content-center">
				{#        <a href="{{ path('dashboard') }}" class="navbar-brand nav-link">Dashboard</a>#}
				<a href="{{ path('app_products') }}" class="navbar-brand">Liste des produits</a>
				<a href="{{ path('bookingsList') }}" class="navbar-brand">Liste des réservations</a>
				<a href="{{ path('app_bills') }}" class="navbar-brand">Liste des factures</a>
				<a href="{{ path('app_client') }}" class="navbar-brand">Liste des clients</a>
				<a href="{{ path('new_booking') }}" class="navbar-brand">Ajouter une réservation</a>
				{#        <a href="{{ path('app_logout') }}" class="navbar-brand nav-link">Se Déconnecter</a>#}
			</nav>
		{% endif %}

		{% if is_granted("ROLE_OWNER") %}
			<nav class="navbar navbar-light bg-light w-100 justify-content-center">
				<a href="{{ path('app_home') }}" class="navbar-brand nav-link">Le Camping</a>
				<a href="{{ path('housings') }}" class="navbar-brand nav-link">Les hébergements</a>
				<a href="{{ path('tentsites') }}" class="navbar-brand nav-link">Les emplacements</a>
				{#        <a href="{{ path('bookings_owner') }}" class="navbar-brand nav-link">Mon Espace</a>#}

			{#        <a href="{{ path('app_login') }}" class="navbar-brand nav-link">Se Connecter</a>#}
				{#        <a href="{{ path('app_logout') }}" class="navbar-brand nav-link">Se Déconnecter</a>#}
			</nav>
		{% endif %}

		{% if is_granted('ROLE_ADMIN') == false and  is_granted('ROLE_OWNER') == false %}
			<nav class="navbar navbar-light bg-light w-100 justify-content-center">
				<a href="{{ path('app_home') }}" class="navbar-brand nav-link">Le Camping</a>
				<a href="{{ path('housings') }}" class="navbar-brand nav-link">Les hébergements</a>
				<a href="{{ path('tentsites') }}" class="navbar-brand nav-link">Les emplacements</a>

				<a href="#info" class="navbar-brand nav-linky">Infos et Contact</a>
				{#        <a href="{{ path('app_login') }}" class="navbar-brand nav-link">Se Connecter</a>#}
				{#        <a href="{{ path('app_logout') }}" class="navbar-brand nav-link">Se Déconnecter</a>#}
			</nav>
		{% endif %}
		{% if app.user %}
			<div class="position-absolute top-0 end-0">
				<a href="{{ path('app_logout') }}" class="btn btn-primary">
					Se Déconnecter
				</a>
			</div>
		{% else %}
			<div class="position-absolute top-0 end-0">
				<a href="{{ path('app_login') }}" class="btn btn-primary">
					Se Connecter
				</a>
			</div>
		{% endif %}
	</ul>
</div></nav>
