
{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">

        <h1>Ajouter une réservation</h1>


        {% for msg in app.flashes('success') %}
            <div class="row d-flex flex-row justify-content-center mb-2">
                <div class="alert alert-warning">
                    {{ msg }}
                </div>
            </div>
        {% endfor %}


        {{ form_start(booking) }}

        <div class="row">

            <div class="form-group justify-content-center mb-4">
                <h3>Dates du séjour :</h3>

                <div class="col-sm-6">{{ form_row(booking.check_in) }}</div>
                <div class="col-sm-6">{{ form_row(booking.check_out) }}</div>
            </div>
            <div class="form-group justify-content-center mb-4">
                <h3>Nombre de voyageurs</h3>

                <div class="col-sm-6">{{ form_row(booking.nb_adults) }}</div>
                <div class="col-sm-6">{{ form_row(booking.nb_kids) }}</div>
            </div>
            <div class="form-group justify-content-center mb-4">
                <h3>Nombre d'accès à la piscine :</h3>
                <div class="col-sm-6">{{ form_row(booking.pool_access_adults) }}</div>
                <div class="col-sm-6">{{ form_row(booking.pool_access_kids) }}</div>
            </div>
            <div class="form-group justify-content-center mb-4">
                <h3>Location :</h3>
                <div class="col-sm-6">{{ form_row(booking.product_id) }}</div>
            </div>

            <div class="form-group justify-content-center mb-4">
                <h3>Informations client :</h3>
                <div class="col-sm-6">{{ form_rest(client) }}</div>
            </div>
            <div class="form-group justify-content-center mb-4">
                <h3>Adresse :</h3>
                <div class="col-sm-6">{{ form_rest(address) }}</div>

            </div>
        </div>







        {{ form_end(booking) }}

    </div>


{% endblock %}